@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Roboto:wght@300;400&display=swap');
 @import "./styles/variables";
 @import "./styles/items.scss";
 @import "./styles/loader.scss";
 @import "./styles/Header.scss";
 @import "./styles/SubHeader.scss";
 @import "./styles/modal.scss";


 * {
  box-sizing: border-box;
}

html {
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Doppio One', sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}