
 @import "./styles/variables";
 @import "./styles/items.scss";
@import "./styles/Header.scss";
@import "./styles/SubHeader.scss";
@import "./styles/User.scss";

* {
  box-sizing: border-box;
}

html {
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Doppio One', sans-serif;
}

body {
  line-height: 1.5;
  margin: 20;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}