.navigationbar
{
  display: flex;
}
.cartItem{
  background-color: turquoise;
  position: absolute;
  right: 2%;
  height: 100%;

  i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  .badge:after {
    top : -1rem;
    right: -0.30rem;
  }
}
.text-white {
  background-color: #000;
   img {
  position: absolute;
  right: 75%;
  text-align: center;
  content: center;
   }
}
.navbar-collapse {
    margin-left: 30%;
}
.btn
{
    color: white;
}

*.icon-blue {
    color: #0088cc;
  }
  
  *.icon-grey {
    color: grey;
  }
  
  i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  
  .badge:after {
    content: attr(data-count);
    position: absolute;
    background: #ff0000f6;
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff0000;
    font-family: sans-serif;
    font-weight: bold;
  }