.navigationbar
{
  display: flex;
}
.cartItem{
  position: absolute;
  right: 200px;
}

.navbar-collapse {
    margin-left: 30%;
}
.btn
{
    color: white;
}

*.icon-blue {
    color: #0088cc;
  }
  
  *.icon-grey {
    color: grey;
  }
  
  i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  
  .badge:after {
    content: attr(data-count);
    position: absolute;
    background: #3a0806f6;
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #ff6600;
    font-family: sans-serif;
    font-weight: bold;
  }