.product-list {
    padding: 16px 32px;
    width: 100%;
    min-height: 100vh;

    &--wrapper {
        display: flex;
        padding-left: 40px;
        flex-wrap: wrap;
    }
}

.item-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0;
    width: 16.66%;
    margin: 16px;
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    border-radius: 4px;

    &__information {
        padding: 6px 12px;
        margin-top: 12px;

        .title {
            text-overflow: ellipsis;
            font-size: 14px;
            color: rgba($color: $black, $alpha: 0.8);
            white-space: nowrap;
            overflow-x: hidden;

            h3 {
                margin: 8px 0 14px;
            }
        }
    }
}


.pricing {
    small {
        opacity: 0.5;
        font-weight: 400;
        margin-left: 8px;
    }
    span {
        font-size: 14px;
        font-weight: 500;
    }
}

button.cart-add {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    background-color: $primary;
    border-radius: 0px 0px 4px 4px;
    border: unset;
    font-size: 14px;
    padding: 8px 16px;
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}